<h1>Списък квартали</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @quarters.each do |quarter| %>
    <tr>
      <td><%= quarter.name %></td>
      <td><%= link_to 'Покажи', admin_town_district_quarter_path(:district_id => @district.id.to_param, :id => quarter.id.to_param) %></td>
      <td><%= link_to 'Редактирай', edit_admin_town_district_quarter_path(@town, @district, quarter) %></td>
      <td><%= link_to 'Изтрий', [:admin, @town, @district, quarter], :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<br />

<%= link_to 'Нов квартал', new_admin_town_district_quarter_path(@town, @district, @quarter) %>
