
<h1>Списък градове</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @towns.each do |town| %>
    <tr> 
      <td><%= link_to town.name, [:admin, town] %></td>
      <td><%= link_to 'Редактирай', edit_admin_town_path(town) %></td>
      <td><%= link_to 'Изтрий', [:admin, town], :confirm => 'Are you sure?', :method => :delete %></td>
      <td><%= link_to 'Райони', admin_town_districts_path(town) %></td>
    </tr>
  <% end %>
</table>

<br />

<%= link_to 'Нов град', new_admin_town_path %>
