<h1>Обяви</h1>

<table>
  <tr>
    <th>Заглавие</th>
    <th>Описание</th>
    <th>Автор</th>
    <th>Снимка</th>

  </tr>

  <% @announcements.each do |announcement| %>
    <tr>
      <td><%= link_to announcement.title, [:admin, announcement] %></td>
      <td><%= announcement.description %></td>
      <td><%= announcement.author %></td>
      <td><%= announcement.img_url %></td>
      <td><%= link_to 'Edit', edit_admin_announcement_path(announcement) %></td>
      <td><%= link_to 'Destroy', [:admin, announcement], :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<br />

<%= link_to 'Нова обява', new_admin_announcement_path %>
